<div class="hero-image">
  <div class="container hero-text">
    <div class="row">
      <div class="col-6 ">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-dark">Participate in our cooking contest!</h4>
            <p class="card-text text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore laudantium magni rerum sit ullam vero
              voluptates voluptatibus! Ad beatae consequatur culpa exercitationem harum nihil non perferendis sunt ullam
              velit! Animi!
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 ">
        <div class="">
          <h1>Cooking is like making love, you do it well, or you do not do it at all.</h1>
        </div>
      </div>
    </div>

  </div>

</div>
