<div class="container py-3">
  <h3>{{currentUser.name}}s recipes</h3>
   <hr>
    <div class="spinner-border" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="recipes && !loading">
      <div class="col-12 col-md-3 mb-3"
           *ngFor="let recipe of recipes.recipes | paginate: { itemsPerPage: 12, currentPage: p } ">
        <div class="card mb-3 h-100">
          <div class="card-header">
            <h5 class="card-title mb-0">{{recipe.name}}</h5>
          </div>
          <img src="/assets/img/{{recipe.image_path}}" class="card-img" alt="">
          <div class="card-body">
            <p class="card-text">{{recipe.description | truncate: [100, '...']}}</p>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-outline-danger mr-2" (click)="deleteRecipe(recipe.id)"><i class="far fa-trash"></i></button>
            <button class="btn btn-outline-warning mr-2" routerLink="/recipe/{{recipe.id}}"><i class="far fa-edit"></i></button>
            <button class="btn btn-outline-primary" routerLink="/recipe/{{recipe.id}}"><i class="far fa-eye"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="recipes && !loading">
      <p *ngIf="recipes.recipes.length == 0 && !loading">You don't have any recipes created yet.</p>
    </div>
    <div class="text-right" *ngIf="!loading">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
 </div>
