<form class="new-recipe"  [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="container my-5">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0">Add new recipe</h3>
      </div>
      <div class="card-body">

        <div class="row" *ngIf="recipe">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="recipeName" class="control-label required">Recipe name</label>
              <input type="text" class="form-control" formControlName="name" id="recipeName" placeholder="Recipe name"
                     [ngClass]="{'is-invalid': submitted && f.name.errors}">
              <div class="invalid-feedback">
                Name is required!
              </div>
            </div>

            <div class="form-group h-25 mb-3">
              <label for="recipeDescription">Recipe description</label>
              <textarea class="form-control h-100" formControlName="description" id="recipeDescription"
                        [ngClass]="{'is-invalid': submitted && f.description.errors}"></textarea>
              <div class="invalid-feedback">
                Description is required!
              </div>
            </div>

            <div class="form-group mt-5">
              <label for="source">Source</label>
              <input type="text" class="form-control" formControlName="source" id="source"
                     placeholder="www.example.com">
            </div>
          </div>


          <div class="col-12 col-md-6">
            <div class="row">
              <div class="form-group col-4">
                <label for="image" class="d-block">Add recipe image</label>
                <input type="file" name="image" class="form-control-file d-none"
                       (change)="onFileUpload($event)"
                       id="image" #fileUpload>

                <button type="button" class="btn btn-primary" (click)="fileUpload.click()">Pick Image <i
                  class="fa fa-image"></i>
                </button>
                <div class="text-danger mt-2" *ngIf="!isImage && !recipe.image_path">
                  Image is required!
                </div>
              </div>
              <div class="col-8" *ngIf="isImage">
                <img class="img-fluid img-thumbnail" [src]="imageSrc || 'http://placehold.it/500x250'"
                     alt="recipe image"/>
              </div>
              <div class="col-8" *ngIf="recipe.image_path && !isImage">
                <img class="img-fluid img-thumbnail" src="/assets/img/{{recipe.image_path}}"
                     alt="recipe image"/>
              </div>
            </div>
            <div class="">
              <div class="row">
                <div class="form-group col-12 col-md-6">
                  <label for="prep_time" class="control-label required">Prep time
                    <div class="input-group">
                      <input type="number" class="form-control"
                             [ngClass]="{'is-invalid': submitted && f.prep_time.errors}"
                             formControlName="prep_time" id="prep_time"
                             placeholder="Prep time">
                      <div class="input-group-append">
                        <div class="input-group-text">min</div>
                      </div>
                      <div class="invalid-feedback">
                        Prep time is required!
                      </div>
                    </div>

                  </label>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="cook_time">Cook time
                    <div class="input-group">
                      <input type="number" class="form-control"
                             [ngClass]="{'is-invalid': submitted && f.cook_time.errors}" formControlName="cook_time"
                             id="cook_time"
                             placeholder="Cook time">
                      <div class="input-group-append">
                        <div class="input-group-text">min</div>
                      </div>

                    </div>

                  </label>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="my-1 mr-2" for="level">Difficulty level</label>
                  <select class="form-control my-1 mr-sm-2" id="level" formControlName="level"
                          [ngClass]="{'is-invalid': submitted && f.level.errors}">
                    <option value="" selected>Choose...</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Easy">Easy</option>
                    <option value="Hard">Hard</option>
                    <option value="Very hard">Very hard</option>
                  </select>
                  <div *ngIf="submitted && f.level.errors">
                    <small class="mb-0 text-danger">Difficulty level is required!</small>
                  </div>


                </div>
                <div class="form-group col-12 col-md-6" *ngIf="cuisine">
                  <label for="cuisine">Cuisine</label>
                  <select id="cuisine" class="form-control" formControlName="cuisine_id"
                          [ngClass]="{'is-invalid': submitted && f.cuisine_id.errors}">
                    <option value="">Choose one...</option>
                    <option *ngFor="let cuisine of cuisine.cuisine" [value]="cuisine.id">{{cuisine.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.cuisine_id.errors">
                    <small class="mb-0 text-danger">Difficulty level is required!</small>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title mb-0 align-self-center">Ingredients</h5>
                <button type="button" class="btn btn-outline-success" (click)="addIngredient()"><i
                  class="far fa-plus"></i> Add Ingredient
                </button>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <label for="amount">Amount</label>
                  </div>
                  <div class="col-3">
                    <label for="measurement">Measurement</label>
                  </div>
                  <div class="col-6">
                    <label for="ingredient">Ingredient</label>
                  </div>
                </div>
                <div formArrayName="ingredients"
                     *ngFor="let ingredient of recipeForm['controls'].ingredients['controls']; let i = index">
                  <div class="row" [formGroupName]="i">
                    <div class="form-group col-3 px-1">
                      <input type="number" class="form-control "
                             [ngClass]="{'red-border': submitted && ingredient['controls'].amount.errors }" id="amount"
                             formControlName="amount">
                      <div class="text-danger" *ngIf="submitted && ingredient['controls'].amount.errors">
                        <small>Required!</small>
                      </div>
                    </div>
                    <div class="form-group col-3 px-1">
                      <input type="text" class="form-control"
                             [ngClass]="{'red-border': submitted && ingredient['controls'].measurement.errors}"
                             id="measurement"
                             formControlName="measurement">
                      <div class="text-danger" *ngIf="submitted && ingredient['controls'].measurement.errors">
                        <small>Required!</small>
                      </div>
                    </div>
                    <div class="form-group col-5 px-1">
                      <input type="text" class="form-control"
                             [ngClass]="{'red-border': submitted && ingredient['controls'].ingredient.errors}"
                             id="ingredient"
                             formControlName="ingredient">
                      <div class="text-danger" *ngIf="submitted && ingredient['controls'].ingredient.errors">
                        <small>Required!</small>
                      </div>
                    </div>
                    <div class="form-group col-1 px-1 text-center">
                      <button type="button" class="btn btn-link" (click)="removeIngredient(i)"><i
                        class="far fa-trash"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title mb-0 align-self-center">Steps</h5>
                <button type="button" class="btn btn-outline-success" (click)="addStep()"><i class="far fa-plus"></i>
                  Add step
                </button>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <label for="step">Steps</label>
                  </div>
                </div>
                <div class="row" formArrayName="steps"
                     *ngFor="let step of recipeForm['controls'].steps['controls']; let i = index">
                  <div class="form-group col-12" [formGroupName]="i">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <input type="number" class="form-control text-center" min="1" max="20"
                               style="width: 70px; height: 100%;"
                               formControlName="step_number">
                      </div>
                      <textarea class="form-control" formControlName="instructions" id="step"
                                [ngClass]="{'red-border': submitted && step['controls'].instructions.errors}"></textarea>
                      <div class="input-group-append px-1 text-center">
                        <button type="button" class="btn btn-link" (click)="removeStep(i)"><i class="far fa-trash"></i>
                        </button>
                      </div>
                    </div>
                    <div class="text-danger" *ngIf="submitted && step['controls'].instructions.errors">
                      <small>At lest one step required!</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-6 mb-3">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title mb-0 align-self-end">Allergens</h5>
                <button type="button" class="btn btn-outline-primary" (click)="openAddAllergen()"><i
                  class="far fa-plus"></i> Add
                </button>
              </div>
              <div class="spinner-border" role="status" *ngIf="loadingAllergens">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="card-body">
                <div class="custom-control custom-checkbox d-flex" formArrayName="allergens"
                     *ngFor="let allergen of allergensList.allergens; let i = index">
                  <input type="checkbox" class="custom-control-input" id="allergen{{allergen.id}}"
                         (change)="onChangeAllergen(allergen, $event.target.checked)">
                  <label for="allergen{{allergen.id}}" class="custom-control-label align-self-center">
                    {{allergen.name}}
                  </label>
                  <p class="text-right ml-auto mb-0">
                    <button type="button" class="btn btn-link" (click)="openDeleteAllergen(allergen)"><i
                      class="far fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-link" (click)="openEditAllergen(allergen)"><i
                      class="far fa-edit"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title mb-0 align-self-end">Courses</h5>
                <button class="btn btn-outline-primary" (click)="openAddCourse()"><i class="far fa-plus"></i> Add
                </button>
              </div>
              <div class="spinner-border" role="status" *ngIf="loadingCourse">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="card-body">
                <div class="form-group" *ngIf="courses">
                  <div class="custom-control custom-checkbox d-flex" *ngFor="let course of courses.courses">
                    <input type="checkbox" class="custom-control-input" id="course{{course.id}}"
                           (change)="onChangeCourse(course, $event.target.checked)">
                    <label class="custom-control-label" for="course{{course.id}}">{{course.name}}</label>
                    <p class="text-right ml-auto mb-0">
                      <button type="button" class="btn btn-link" (click)="openDeleteCourses(course)"><i
                        class="far fa-trash"></i>
                      </button>
                      <button type="button" class="btn btn-link" (click)="openEditCourse(course)"><i
                        class="far fa-edit"></i>
                      </button>
                    </p>
                  </div>
                  <div class="text-danger" *ngIf="recipeForm.value.courses.length < 1 && submitted">
                    <p class="mb-0">Select at least one course</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12">
            <!--            <app-categories></app-categories>-->
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title mb-0 align-self-end">Categories</h5>
                <button class="btn btn-outline-primary" (click)="openAddCategory()"><i class="far fa-plus"></i> Add
                </button>
              </div>
              <div class="spinner-border" role="status" *ngIf="loadingCategory">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="card-body row" *ngIf="categories">
                <div class="custom-control col-6 custom-checkbox d-flex" *ngFor="let category of categories.categories">
                  <input type="checkbox" class="custom-control-input" id="category{{category.id}}"
                         (change)="onChangeCategory(category, $event.target.checked)">
                  <label class="custom-control-label" for="category{{category.id}}">{{category.name}}</label>
                  <p class="text-right ml-auto mb-0">
                    <button type="button" class="btn btn-link" (click)="openDeleteCategory(category)"><i
                      class="far fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-link" (click)="openEditCategory(category)"><i
                      class="far fa-edit"></i>
                    </button>
                  </p>
                </div>
              </div>
              <div class="text-danger" *ngIf="recipeForm.value.category.length < 1 && submitted">
                <p class="ml-2">Select at least one category</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right fixed-bottom bg-transparent border-0">
        <div class="ml-auto">
          <button type="button" class="btn btn-warning mr-2">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
