<div class="hero-image">
  <div class="container hero-text">
    <div class="row">
      <div class="col-10 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-dark">Participate in our cooking contest!</h4>
            <p class="card-text text-muted">
              Register and login for adding and editing your recipes!
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!currentUser">
              <div class="form-group text-left mt-3">
                <label for="username" class="text-muted">User name</label>
                <input type="text" class="form-control" id="username"
                       [ngClass]="{'is-invalid': submitted && f.name.errors}"
                       formControlName="name" aria-describedby="username"
                       placeholder="User name">
                <div class="invalid-feedback">
                  This field is required!
                </div>
              </div>
              <div class="form-group text-left">
                <label for="Password" class="text-muted">Password</label>
                <input type="password" class="form-control" id="Password"
                       [ngClass]="{'is-invalid': submitted && f.password.errors}"
                       formControlName="password" placeholder="Password">
                <div class="invalid-feedback">
                  This field is required!
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
            <div *ngIf="currentUser">
              <button class="btn btn-block btn-info" routerLink="/my-recipes">My recipes</button>
              <button class="btn btn-block btn-success" routerLink="/new-recipe">Add a new recipe</button>
              <button class="btn btn-block btn-primary" (click)="logout()">Logout</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-8 align-self-center d-none d-md-block">
        <div class="">
          <h1 class="">Cooking is like making love, you do it well, or you do not do it at all.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
