<div class="categories">
  <div class="container my-5">
    <div class="spinner-border" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="courses">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5" *ngFor="let course of courses.courses">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title mb-0">{{course.name}}</h5>
          </div>
          <img src="assets/img/todd-quackenbush-700-unsplash.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-footer text-right">
            <a class="btn btn-outline-primary" [routerLink]="['/recipes-by-category', course.name, 'courses']">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

