<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title mb-0 align-self-center">Steps</h5>
    <button type="button" class="btn btn-outline-success"><i class="far fa-plus"></i> Add step</button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <label for="step">Steps</label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">1</div>
          </div>
          <textarea class="form-control" id="step"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
