<div class="new-recipe">
  <div class="container my-5">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0">Add new recipe</h3>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="recipeName">Recipe name</label>
            <input type="text" class="form-control" id="recipeName" placeholder="Recipe name">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="image">Add recipe image</label>
            <input type="file" class="form-control-file" id="image">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="recipeDescription">Recipe description</label>
            <textarea class="form-control h-75" id="recipeDescription"></textarea>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label for="prepTime">Prep time</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="prepTime" placeholder="Prep time">
                  <div class="input-group-append">
                    <div class="input-group-text">min</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="cookTime">Cook time</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="cookTime" placeholder="Cook time">
                  <div class="input-group-append">
                    <div class="input-group-text">min</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-6">
                <label class="my-1 mr-2" for="level">Difficulty level</label>
                <select class="custom-select my-1 mr-sm-2" id="level">
                  <option selected>Choose...</option>
                  <option value="Beginner">Beginner</option>
                  <option value="Easy">Easy</option>
                  <option value="Hard">Hard</option>
                  <option value="Very hard">Very hard</option>
                </select>
              </div>
              <div class="form-group col-12 col-md-6" *ngIf="cuisine">
                  <label for="cuisine">Cuisine</label>
                  <select id="cuisine" class="form-control">
                    <option>Choose one...</option>
                    <option *ngFor="let cuisine of cuisine.cuisine" [value]="cuisine.name">{{cuisine.name}}</option>
                  </select>
                </div>
              <div class="form-group col-12">
                <label for="source">Source</label>
                <input type="text" class="form-control" id="source" placeholder="www.example.com">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-ingredients></app-ingredients>
          </div>
          <div class="col-12 col-md-6">
            <app-steps></app-steps>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-4">
          <app-allergens></app-allergens>
          </div>
          <div class="col-12 col-md-5">
            <app-categories></app-categories>
          </div>
          <div class="col-12 col-md-3">
            <app-courses></app-courses>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-outline-warning mr-2">Cancel</button>
        <button type="button" class="btn btn-outline-success">Save</button>
      </div>
    </div>
  </div>

</div>
