<div class="recipe-detail">
  <div class="container py-5">
    <div class="spinner-border" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="recipe">
      <div class="col-12 col-md-9">
        <h1 class="text-left">{{recipe.name}}</h1>
        <div class="d-flex justify-content-between">
          <p class="text-muted">{{recipe.time_added | date: 'dd MMMM yyyy'}} by {{recipe.user.name}}
            | {{recipe.comments.length}} <span *ngIf="recipe.comments.length > 0">comments</span>
            <span *ngIf="recipe.comments.length < 1">comment</span>
          </p>
          <span class="align-self-center">
            <div class="form-group" *ngIf="!cookieValue">
              <ngb-rating [formControl]="ctrl" max="5" (click)="saveRating()"></ngb-rating>
              <div class="form-text small">
                <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
                <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
              </div>
            </div>
            <ngb-rating [rate]="recipe.rating" [readonly]="true" max="5" *ngIf="cookieValue"></ngb-rating>
          </span>
        </div>
        <img src="/assets/img/todd-quackenbush-700-unsplash.jpg" class="img-fluid img-thumbnail" alt="">
        <div class="row">
          <div class="col-12 col-md-7 mt-4">
            <h5><i class="far fa-book mr-2"></i> INTRO</h5>
            <p>{{recipe.description}}</p>
          </div>
          <div class="col-12 col-md-5 mt-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0"><i class="fal fa-receipt"></i> Info</h5>
              </div>
              <div class="card-body">
                <p><i class="far fa-clock"></i> Prep time : {{recipe.prep_time}} minutes</p>
                <p><i class="far fa-clock"></i> Cooking time : {{recipe.cook_time}} minutes</p>
                <p><i class="far fa-clock"></i> Total time : {{recipe.total_time}} minutes</p>
                <p><i class="far fa-hat-chef"></i> Cuisine : {{recipe.cuisine.name}}</p>
                <p><i class="far fa-graduation-cap"></i> Level : {{recipe.level}}</p>
              </div>
              <div class="card-footer bg-danger text-white" *ngIf="recipe.allergens.length > 0">
                <p class="mb-0"><i class="far fa-info-circle"></i> Allergens:</p>
                <p class="mb-0">
                  <span *ngFor="let allergen of recipe.allergens">{{allergen.name}}, </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="card mt-5 h-100">
              <div class="card-header">
                <h5 class="card-title"><i class="far fa-flask"></i> Ingredients</h5>
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.amount | number: '1.0' }} {{ingredient.measurement}} of {{ingredient.ingredient}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="card mt-5 h-100">
              <div class="card-header">
                <h5 class="card-title"><i class="fal fa-clipboard-list"></i> Steps</h5>
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let step of recipe.steps" class="mb-2">
                    <span class="badge badge-pill badge-info"><h5
                      class="mb-0 px-1">{{step.step_number}}</h5></span> {{step.instructions}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 pt-5">
            <div class="card mt-5">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title mb-0 align-self-center"><i class="fal fa-comments"></i> Comments</h5>
                <button class="btn btn-sm btn-outline-dark" (click)="showEditComment()">
                  <span *ngIf="!isComment">
                    <i class="far fa-plus"></i>
                    Add your comment
                  </span>
                  <span *ngIf="isComment">
                    <i class="far fa-minus"></i>
                    Hide comment
                  </span>
                </button>
              </div>
              <div class="card-body">

                <form class="p-2 bg-light mb-3" [formGroup]="commentForm" *ngIf="isComment">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control"
                             [ngClass]="{'is-invalid': submitted && f.name.errors}"
                             id="name" formControlName="name" placeholder="Name">
                      <div class="invalid-feedback">
                        Please enter your name.
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">Email</label>
                      <input type="email" class="form-control"
                             [ngClass]="{'is-invalid': submitted && f.email.errors}"
                             formControlName="email" id="email" placeholder="Email">
                      <div class="invalid-feedback">
                        Please enter your email.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textarea">Comment</label>
                    <textarea class="form-control"
                              [ngClass]="{'is-invalid': submitted && f.comment.errors}"
                              id="textarea" formControlName="comment" required></textarea>
                    <div class="invalid-feedback">
                      Please enter a message in the textarea.
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="button" class="btn btn-sm btn-success" *ngIf="!isEdit" (click)="addComment()">+ Add
                    </button>
                    <button type="button" class="btn btn-sm btn-warning mr-2" *ngIf="isEdit"
                            (click)="showEditComment()">Cancel
                    </button>
                    <button type="button" class="btn btn-sm btn-success" *ngIf="isEdit" (click)="addEditedComment()">
                      Edit
                    </button>
                  </div>
                </form>

                <div class="border p-3 bg-light mb-2" *ngFor="let comment of recipe.comments">
                  <div class="d-flex justify-content-between">
                    <small class="align-self-center">{{comment.name}} | {{comment.email}}
                      | {{comment.time_added | date: 'dd MMMM yyyy'}}</small>
                    <div *ngIf="currentUser">
                      <div *ngIf="currentUser.id === comment.user_id">
                        <button type="button" class="btn btn-link" (click)="editComment(comment)"><i
                          class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-link text-danger" (click)="deleteComment(comment.id)"><i
                          class="far fa-trash"></i></button>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0 font-italic">{{comment.comment}}</p>
                </div>


              </div>

            </div>
          </div>
        </div>


      </div>

      <div class="col-12 col-md-3 mt-5">

        <!--  Categories  -->

        <div class="spinner-border" role="status" *ngIf="!categories">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="card mb-3" *ngIf="categories">
          <div class="card-header">
            <h5 class="card-title mb-0">Categories</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li *ngFor="let category of categories.categories | slice:0:10; let i=index">{{category.name}}</li>
              <li><a href="#">All categories</a></li>
            </ul>
          </div>
        </div>

        <!--   Cuisine    -->

        <div class="spinner-border" role="status" *ngIf="!cuisines">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="card mb-3" *ngIf="cuisines">
          <div class="card-header">
            <h5 class="card-title mb-0">Cuisine</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li *ngFor="let cuisin of cuisines.cuisine | slice:0:10; let i=index">{{cuisin.name}}</li>
              <li><a href="#">All cuisines</a></li>
            </ul>
          </div>
        </div>

        <!--   Courses    -->

        <div class="spinner-border" role="status" *ngIf="!courses">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="card mb-3" *ngIf="courses">
          <div class="card-header">
            <h5 class="card-title mb-0">Courses</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li *ngFor="let course of courses.courses | slice:0:10; let i=index">{{course.name}}</li>
              <li><a href="#">All courses</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
